@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f2ec;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  color: #00182b;
}

p {
  font-size: 18px;
}
